<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Janken GAME!</h1>
    <div>
      Hi
      <span sec:authentication="name"></span>
    </div>
    <h2>エントリー</h2>
    <div th:if="${users}">
      <div th:each="user,stat:${users}">
        <tr>
          <td>[[${user.id}]]:<a th:href="@{/match(id=${user.id})}">[[${user.name}]]</a></td>
        </tr>
      </div>
    </div>

    <h2>アクティブな試合</h2>
    <div th:if="${matchinfo}">
      <div th:each="info,stat:${matchinfo}">
        <tr>
          <td>id:[[${info.id}]] user1:[[${info.user1}]] user2:[[${info.user2}]] isActive:[[${info.isActive}]]</td>
        </tr>
      </div>
    </div>

    <h2>試合結果</h2>
    <div th:if="${matches}">
      <div th:each="match,stat:${matches}">
        <tr>
          <td>id:[[${stat.index}+1]]</td>
          <td>user1:[[${match.user1}]]</td>
          <td>user2:[[${match.user2}]]</td>
          <td>user1の手:[[${match.user1Hand}]]</td>
          <td>user2の手:[[${match.user2Hand}]]</td>
        </tr>
      </div>
    </div>


    <p><a href="/logout">ログアウト</a></p>
  </body>
</html>
