<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Janken GAME!</h1>
    <p>エントリー</p>
    <div th:if="${entry}">
      <ul>
        <li th:each="user : ${entry.users}">[[${user}]]</li>
      </ul>
    </div>
    <div>
      Hi
      <span sec:authentication="name"></span>
    </div>
    <a href="/janken/jankenchoice?hand=0">グー</a>
    <a href="/janken/jankenchoice?hand=1">パー</a>
    <a href="/janken/jankenchoice?hand=2">チョキ</a>

    <div th:if="${my_choice}">
      あなたの手は[[${my_choice}]]。
    </div>

    <div th:if="${cpu_choice}">
      相手の手は[[${cpu_choice}]]。
    </div>

    <div th:if="${result}">
      結果は[[${result}]]です。
    </div>

    <p><a href="/logout">ログアウト</a></p>
  </body>
</html>
